:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.banner .card {
    background: black;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.banner .card .heading {
    color: #F012BE;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 5vw;
}

.banner .card .sub-heading {
    color: #FFDC00;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 5vw 2vw;
}

.banner .card .sub-heading button {
    background: none;
    border: none;
    border-radius: 5px;
    color: #35eea4;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    letter-spacing: 8px;
    margin-top: 2vh;
    padding: 10px;
    text-transform: uppercase;
    transition: box-shadow 0.3s linear 0.1s;
}

.banner .card .sub-heading button:hover {
    cursor: pointer;
    box-shadow: 0 3px 20px 0 #35eea4;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.row .my-image {
 
    border-radius: 5px;
  
    width: 25vw;
    height: 30vh;
}
.tag{
    margin-top: 15px;
    text-decoration-color: antiquewhite;
    font-family: 'Alegreya Sans', sans-serif;

}

@media only screen and (max-width: 725px) {
    .row {
        flex-direction: column;
    }
    .row .image {
        order: -1;
    }
    .row .my-image {
        width: 60vw;
    }
}
@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
      border: 5px solid black;
      padding: 5px;
      margin: 5px;
  }
  ._55 {
    flex: 2.5;
        border: 5px solid black;
       padding: 5px;
      margin: 5px;
  }
  ._20 {
    flex: 2.5;
        border: 5px solid black;
       padding: 5px;
      margin: 5px;
  }
    ._10 {
    flex: 2.5;
        border: 5px solid black;
         padding: 5px;
      margin: 5px;
  }
}
@media all and (max-width: 600px) {
  .row {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
          border-radius: 10px;
      border: 5px;
     
  
  }
}
.paragraph {
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    padding: 5vw 5vw 5vw 0;
}

.icon-group {
    margin-top: 10vh;
}

.icon-group .icon {
    margin-right: 10px;
    width: 25px;
    padding: 3px;
    font-family: 'Alegreya Sans', sans-serif;

}
.foot{
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    background-color:beige;
    margin-top: 5px;
}
.navigation {
  list-style: none;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
        font-family: "Playfair Display", serif;

}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
          border-radius: 10px;
  
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
    

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
.row {
  display: flex;
   padding: 1em;
 
    background-color: grey;
}
.row .column {
 flex: 1 1 0;
    padding: 1em;
    margin: 0.6em;
    text-align: center;
  border: 1px solid black;
 height: 500px;
    background-color: white;
    
}
/*@media (max-width: 400px) {
 
  .row {
    display: block;
    .column {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
*/